body{
    margin:0;
}
h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
}
/* header */
header{
    position: relative;
    left:0;
    top:0;
    background-image: linear-gradient(to bottom right, rgb(6, 6, 60) ,rgb(22, 20, 120));
    color: rgb(31, 162, 223);
    width: 100vw;
    min-height:200px;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:10%;
    top: 50px;
    margin: 0;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.8);
}
nav{
    position: absolute;
    left: 5%;
    top:50%;
    width: auto;
    height: auto;
    background-color: rgb(12, 10, 112);
    border-radius: 10%;
}
nav ul{
    list-style-type: none;
    padding-left:0;
    padding: 0 10px;
}
nav a{
    text-decoration: none;
    padding: 3px;
}
nav a:visited, nav a:link{
    color: rgb(31, 162, 223);
}
nav li:hover, nav a:hover{
    color: #EEE;
    background-color: rgb(5, 4, 65);

    cursor: pointer;
}
nav > ul > li{
    display: inline;
    position:static;
    padding: 8px 0px;
    text-align: center;
}
    /* dropdown header */
.dropdown {
    min-width: 160px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left:10%;
    width: 80%;
    margin: 8px auto;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background-color:rgb(5, 4, 65);
    padding: 5px 0px;
    z-index: 1;
}
.dropdown-content li{
    padding: 2px 0;
}
.dropdown:hover ul.dropdown-content {
    display: block;
}
ul.dropdown-content:hover{
    display:block;
}

/* main */
main{
    position:static;
    width: 70%;
    margin: 5% auto;
}
main h1{
    text-indent: 100px;
}
main p{
    text-indent: 40px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
